/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  color: #000100;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}
body a{
  color: #000100;
  text-decoration: none;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.news__main {
  max-width: 360px;
  margin: 0 auto;
  padding: 16px;
}
.news__main i img{
  width: 24px;
}
.news__top {
  height: 88px;
  background-color: #0086FF;
  text-align: center;
}
.news__top  img{
  width: auto;
  margin: 0 auto;
  margin-top: 39px;
}
.news__body {
  margin-bottom: 25px;
}
.news__major-box {

}
.news__header {
  margin-bottom: 16px;
  overflow: hidden;
}
.news__header-title {
  float: left;
  font-weight: bold;
}
.news__header-link {
  float: right;
  text-decoration: none;
  font-weight: bold;
}
.news__box {
  border: 0.5px solid #C5C6C6;
  border-radius: 0 12px 12px 0;
  height: 132px;
  width: 100%;
  padding: 16px;
  position: relative;
  margin-bottom: 8px;
}
.news__border {
  height: 132px;
  background-color: #59C00B;
  border-radius: 24px 0 0 24px;
  width: 6px;
  position: absolute;
  top: -1px;
  left: -5px;
}
.news__border-geek {
  height: 132px;
  background-color: #FF8A00;
  border-radius: 24px 0 0 24px;
  width: 6px;
  position: absolute;
  top: -1px;
  left: -5px;
}
.news__border-tech {
  height: 132px;
  background-color: #0086FF;
  border-radius: 24px 0 0 24px;
  width: 6px;
  position: absolute;
  top: -1px;
  left: -5px;
}
.news__content {
  float: left;
  width: 70%;
  margin-right: 5%;
}
.news__img {
  float: left;
  width: 25%;
}
.news__text {
  line-height: 25px;
  height: 77px;
  font-weight: bold;
  font-size: 14px;
}
.news__title {
  display: flex;
  align-items: center;
}
.news__icon {
  margin-right: 8px;
}
.news__img div{
  height: 114px;
  background-position: center center;
  background-size: cover;
  border-radius: 8px;
  margin-top: -8px;
}
.big__image {
  max-width: 360px;
  margin: 0 auto;
}
.big__image div{
  height: 360px;
  background-position: center center;
  background-size: cover;
  width: auto;

}

.linha {
  height: 3px;
  top: -8px;
  width: 100%;
  position: relative;
  overflow: hidden;
  border: none;
  background-image: linear-gradient(to right, rgb(255, 255, 74) 0px, rgb(252, 208, 0) 4%, rgb(255, 193, 18) 8%, rgb(255, 193, 18) 11%, rgb(255, 138, 0) 16%, rgb(255, 95, 95) 22%, rgb(255, 37, 58) 28%, rgb(255, 55, 168) 37%, rgb(199, 57, 255) 49%, rgb(164, 0, 225) 56%, rgb(46, 206, 255) 72%, rgb(0, 134, 255) 80%, rgb(114, 247, 114) 94%, rgb(0, 214, 4));
}
.news__precontent {
  margin-bottom: 16px;
}
.news__precontentTitle {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}
.news__precontentText {
  text-align: center;
  font-size: 16px;
  margin-top: 16px;
}
.news__line {
  color: #C5C6C6;
  display: block;
  margin-bottom: 16px;
}
.news__contentArticle {
 overflow: hidden;
 margin-bottom: 16px;
}
.news__identity {
  overflow: hidden;
  margin-bottom: 24px;
}
.iconPerson {
  float: left;
  height: 40px;
  width: 40px;
}
.iconPerson img{
  border-radius: 50%;
}
.person {
  float: left;
}
.person strong{
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin-bottom: 3px;
}
.person p{
  float: left;
  font-size: 14px;
  color: #515051;
}
.news__news p{
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 24px;
}
.products {
  overflow: hidden;
}
.prod_title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
}
.prod_img{
  float: left;
  width: 27%;
  margin-right: 5%;
}
.prod_img img {
  width: 91px;
  height: 84px;
}
.prod_content{
  float: left;
  width: 68%;
  position: relative;
  top: -13px;
}
.prod_content p {
  color: #515051;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 9px;
}
.prod_content small {
  font-size: 12px;
  margin-right: 10px;
  text-decoration: line-through;
  color: #515051;
}
.prod_content strong {
  font-weight: bold;
  font-size: 18px;
}
.prod_content div {
  margin-top: 10px;
  background-color: #59C00B;
  color: #FFF;
  font-size: 16px;
  width: 25%;
  border-radius: 12px;
  text-align: center;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.prod_content div span{
  margin-right: 3px;
  position: relative;
  top: -2px
}
.prod_box {
  margin-bottom: 10px;
  height: 140px;
  display: block;
}
.footer {
  background-color: #0086FF;
  text-align: center;
}

.steal__img-one {
  background-image: url(assets/steal_img.jpg);
}
.tech_one_image {
  background-image: url(assets/tech_one_image.jpeg);
}
.tech_two_image {
  background-image: url(assets/tech_two_image.webp);
}
.tech_three_image {
  background-image: url(assets/tech_three_image.jpeg);
}